@import "color";
@import "mixin";

.header-todos {
  &:hover .header-todos-box {
    display: block;
  }
  &:hover .header-todos__icon {
    color: $pacificBlue;
  }
  &__link {
    @include header_link;
  }
  &__title {
    margin: 0 0 0 8px;
  }
  &__icon {
    font-size: 16px;
    color: $veryLightGrey;
  }
}
