.l-content
  %section.l-chapter-container
    %h2.l-chapter-head
      支払い方法
    .l-single-inner
      %section
        .l-single-content
          %h3.l-chapter-sub-head
            クレジットカード一覧
        %ul.settings-payment-list
          %li
            %form.l-single-content{ action: "", method: 'POST' }
              %figure
                %img{ src: "/assets/icons-mastercard.jpeg", alt: "master-card", width: "34", height: "30" }
              %input{ type:'hidden', name:'__csrf_value',value:"" }
              %input{ type:'hidden', name:'card_sequence_no',value:"" }
              .settings-payment-num
                XXXXXXXXXX
              .settings-payment-num
                XX / XX
              %input{ type: 'hidden', name: 'method', value: "card" }
              %button.settings-payment-remove{ type: 'submit' }
                削除する
      .settings-not-regist
        = link_to "", target: "_blank" do
          %span
            支払い方法について
          %i.fa.fa-angle-right

