.login-no-account{
  padding: 35px 64px;
  text-align: center;
  border-bottom: 1px solid $whiteSmoke;
  &__para{
    font-size: 14px;
    display: block;
    &--btn-blue{
      display: block;
      margin: 8px 0 0;
      border: 1px solid $pacificBlue;
      background: $pacificBlue;
      color: $white;
      line-height: 40px;
    }
  }
}
