@import "color";
@import "clearfix";

.footer {
  padding: 0 20px 10px 20px;
  background: $nero;
  color: $white;
  &__upper {
    @include clearfix();
    width: 1020px;
    margin: 0 auto;
  }
  &__bottom {
    margin: 30px auto 20px;
    width: 1020px;
  }
}
