@import "color";
@import "clearfix";

.footer {
  padding: 0 20px 10px 20px;
  background: $nero;
  color: $white;
  & a {
    color: $white;
    opacity: 0.7;
    font-size: 12px;
    &:hover {
      text-decoration: underline;
    }
  }
  &__upper {
    @include clearfix();
    width: 1020px;
    margin: 0 auto;
  }
}
