%footer.single-footer
  %ul.single-footer-nav
    %li.single-footer-nav__list
      = link_to "" do
        プライバシーポリシー
    %li.single-footer-nav__list
      = link_to "" do
        メルカリ利用規約
    %li.single-footer-nav__list
      = link_to "" do
        特定商取引に関する表記
  .single-footer-logo
    = link_to image_tag("logo-gray.svg", alt: "mercari", class: 'single-footer-logo__image')
  %p.single-footer-copyright
    %small.single-footer-copyright__small
      © 2019 Mercari
