@import "color";

.mypage-tabs {
  border: 0;
  background: $whiteSmoke;
  font-size: 0;
  &__list {
    width: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
  }
  &__link {
    font-size: 22px;
    position: relative;
    display: block;
    color: $nightRider;
    font-size: 16px;
    line-height: 72px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}
