.mypage-sidebar-list{
  &__item{
    position: relative;
    display: block;
    min-height: 48px;
    background: $white;
    font-size: 14px;
    border-bottom: 1px solid $whiteSmoke;
    &:hover{//マウスオーバで他の要素を変化
      background-color: $whiteSmoke;
      .mypage-sidebar-list__icon{
        transform: translate(5px,-50%);
        color: $nightRider;
      }
    }
    &--active{
      background: $whiteSmoke;
      font-weight: 600;
      font-size: 14px;
      .mypage-sidebar-list__icon{
        color: $nightRider;
      }
    }
  }
  &__icon{
    position: absolute;
    right: 20px;
    color: $veryLightGrey;
    top: 50%;
    transform: translate(0, -50%);
    transition: all ease-out .2s;
  }
  &__link{
    padding: 16px;
    color: $nightRider;
    display: block;
  }
}
