.card-settings-payment-remove{
  position: absolute;
  top: 0;
  right: 0;
  padding: 1px 6px;
  background: $white;
  border-radius: 3px;
  border: 1px solid $cinnabar;
  color: $cinnabar;
  min-height: 1.5em;
  font-size: 15px;
  cursor: pointer;
}
