@import "color";
@import "mixin";

.header-find {
  font-size: 0;
  &__list {
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    &--first {
      padding: 0;
    }
  }
  &__title {
    font-size: 14px;
    font-weight: 400;
  }
  &__root {
    display: block;
    color: $nightRider;
    position: relative;
    height: 38px;
    line-height: 32px;
  }
}
