@import "color";
@import "mixin";

.header-notification {
  &__link {
    @include header_link
  }
  &__title {
    margin: 0 0 0 8px;
  }
  &__icon {
    font-size: 17px;
    color: $veryLightGrey;
  }
}
