@import "color";

.header {
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  background-color: $white;
  &__inner {
    width: 1020px;
    margin: 0 auto;
    padding: 8px 0 0;
  }
}
