@import "color";

.header-todos {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  &__link {
    display: block;
    font-size: 14px;
    color: $nightRider;
    position: relative;
    height: 38px;
    line-height: 32px;
  }
  &__title {
    margin: 0 0 0 8px;
  }
  &__icon {
    font-size: 16px;
  }
}
