@import "color";

@mixin slide-banner-owl-nav-btn($background-image) {
  background-image: image_url($background-image) !important;
  cursor: pointer;
  height: 46px;
  width: 31px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-23px);
  transform: translateY(-23px);
}

@mixin slide-banner-owl-item-background($background-image) {
  background: image_url($background-image);
  background-size: auto 100%;
  background-position: center;
}

@mixin buy-content {
  margin: 40px 0 0;
  padding: 24px 12.5% 0;
  border-top: 1px solid #f5f5f5;
}

@mixin buy-content-inner {
  max-width: 320px;
  margin: 0 auto;
}

@mixin buy-user-info-text {
  margin: 8px 0 0;
  font-size: 14px;
  line-height: 1.4;
}


// header
@mixin header_link {
  display: block;
  font-size: 14px;
  color: $nightRider;
  position: relative;
  height: 42px;
  line-height: 32px;
  &:hover {
    color: $pacificBlue;
  }
}

@mixin header-find-box_link($background-color, $line-height, $color) {
  color: $nightRider;
  font-size: 14px;
  font-weight: 400;
  line-height: $line-height;
  padding: 0 16px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:hover {
    background-color: $background-color;
    color: $color;
  }
}

@mixin header-user-box {
  z-index: 1000;
  width: 320px;
  background: $white;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
  font-size: 14px;
}


// footer
@mixin footer-cell {
  display: block;
  float: left;
  margin-top: 18px;
}

@mixin footer-link {
  display: block;
  color: $white;
  opacity: 0.7;
  font-size: 12px;
  &:hover {
    text-decoration: underline;
  }
}

//ログインと新規登録に使うボタンの共通スタイル
@mixin btn-mail{
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  position: relative;
  color: black;
  background: $whiteSmoke;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
  height: 48px;
  .icon-mail{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
    color: $veryLightGrey;
    font-size: 18px;
  }
}

@mixin btn-sns-facebook{
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  margin: 16px 0 0;
  background: $toryBlue;
  color: $white;
  cursor: pointer;
  text-align: center;
  position: relative;
  .icon-facebook{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
  }
}

@mixin btn-sns-google{
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  margin: 16px 0 0;
  cursor: pointer;
  text-align: center;
  position: relative;
  color: $nightRider;
  border: $shadyLady solid 1px;
  background-image: image-url("google_logo.jpeg");
  background-position: 12px 50%;
}

@mixin btn-red{
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
  background: $cinnabar;
  border: 1px solid $cinnabar;
  color: $white;
  margin: 24px 0 0;
}


